extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
      
        //- dynamically add the project title
        h1= project.project_name

        //- dynamically add the project description
        p.projectInfo= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          each technology in project.technologies
            li= technology

        a.btn-link(href=`${project.live_link}` target="_blank") Live Demo
        a.btn-link(href=`${project.github_link}` target="_blank") GitHub Repo

    .project-img-box.box

      //-  add your project images, and add descriptions to the alt attributes
      img.project-img(src=`${project.image_urls.projectimg1}`, alt=`${project.image_urls.img1alt}`)
      img.project-img(src=`${project.image_urls.projectimg2}`, alt=`${project.image_urls.img2alt}`)
      img.project-img(src=`${project.image_urls.projectimg3}`, alt=`${project.image_urls.img3alt}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
